.mainContainer{
  border: 0px solid #6b6b6b;
  margin: 0rem;
  padding:0rem;
}

.weatherContainer{
  display: flex;
  flex-wrap: wrap;
  
}

.mainHeader{
  background-color: #666666;
  font-size: larger;
  height:4rem;
  margin: 0rem;
}

.headerText{
  padding: 1rem;
   color: white;
}