.mainContainer{
  border: 2px solid #6b6b6b;
  margin: 0.1rem;
  background-color: #d0d0d0;
  padding:0.5rem;
}

.cityName{
    float: right;
  }

.card-text{
  margin-block : 0rem !important;
  margin-inline: 0rem !important;
}

.weatherContainer{
  display: flex;
  flex-wrap: wrap;
  
}