.weatherCard{
    border: 0.1rem solid #b0b0b0;
    margin: 1rem;
    width: fit-content;
    block-size: fit-content;
    position: relative;
    background-color: #666666;
    text-align: center;
 }

 .cardTitle{
   background-color: #888888;
   text-align: left;
   padding: 0.1rem;
   color: #dfdfdf;
   font-size: large;
 }
.weatherCardBody{
   display: flex;
   flex-grow:1;
   color: #dfdfdf;
}
.weatherIcon{
   width: 4rem;
   height: 4 rem;
   padding:0.2rem
}
.weatherCurrentTemp{
   padding:0.5rem;
   margin-top:0px;
   font-size: large;
}
.list-group-item{
   border: 0.1rem solid #a8a8a8;
   font-size: x-small;
   padding:0.3rem;
}
.card-group{
   border: 0.1rem solid #a8a8a8;
   display: flex;
}

